APP_NAME=EIS
APP_ENV=local
APP_KEY=base64:FOKK045laQeBD8jwIudOoskGweaefruJmt57YiqmAok=
APP_DEBUG=true
APP_URL=https://eisdev.expressimagingservices.net

APP_TIMEZONE="America/Los_Angeles"

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_ENCRYPT=true
DB_TRUST_CERT=true

DB_CONNECTION_EISUAT=eisuat
DB_HOST_EISUAT=sql-nimitz-dev.database.windows.net
DB_PORT_EISUAT=1433
DB_DATABASE_EISUAT=EISUAT
DB_USERNAME_EISUAT=eisdev_datawriter
DB_PASSWORD_EISUAT=""

DB_CONNECTION_EIS=eis
DB_HOST_EIS=sql-nimitz.database.windows.net
DB_PORT_EIS=1433
DB_DATABASE_EIS=EIS
DB_USERNAME_EIS=eisdatawriter
DB_PASSWORD_EIS=""

DB_CONNECTION_USAA=usaa
DB_HOST_USAA=sql-nimitz.database.windows.net
DB_PORT_USAA=1433
DB_DATABASE_USAA=USAA
DB_USERNAME_USAA=usaauser
DB_PASSWORD_USAA=""

DB_CONNECTION_NYL=nyl
DB_HOST_NYL=sql-nimitz.database.windows.net
DB_PORT_NYL=1433
DB_DATABASE_NYL=NYL
DB_USERNAME_NYL=nylserviceuser
DB_PASSWORD_NYL=""

DB_CONNECTION_EHR=ehr
DB_HOST_EHR="192.168.1.215\\EISData"
DB_PORT_EHR=null
DB_DATABASE_EHR=EHR
DB_USERNAME_EHR=ehruser
DB_PASSWORD_EHR=""

DB_CONNECTION_EISPROCESSES=eisprocesses
DB_HOST_EISPROCESSES="EISERVERDB2\\eissql1"
DB_PORT_EISPROCESSES=null
DB_DATABASE_EISPROCESSES=EISProcesses
DB_USERNAME_EISPROCESSES=accesstosql
DB_PASSWORD_EISPROCESSES=""
DB_CONNECTION_APSSTAGINGDATA=apsstagingdata
DB_HOST_APSSTAGINGDATA=sql-nimitz.database.windows.net
DB_PORT_APSSTAGINGDATA=null
DB_DATABASE_APSSTAGINGDATA=APSStagingData
DB_USERNAME_APSSTAGINGDATA=APSStagingDataUser
DB_PASSWORD_APSSTAGINGDATA=""

DB_CONNECTION_FAX=mysql_fax
DB_HOST_FAX=192.168.1.194
DB_PORT_FAX=3306
DB_DATABASE_FAX=eis
DB_USERNAME_FAX=root
DB_PASSWORD_FAX=""

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=192.168.1.33
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_EHLO_DOMAIN="expressimagingservices.com"
MAIL_FROM_ADDRESS="info@expressimagingservices.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

SITE_NAME="eisuat"

EIS_CLIENT_PORTAL_SUBDOMAIN="wwww"

SEQSTER_URL_USAA_UAT="https://eis-usaa.uat.seqster.com/api/partner/register/basic"
SEQSTER_CLIENT_ID_USAA_UAT="991268eb-d7cc-4c85-b398-064131cd82fe"
SEQSTER_CLIENT_SECRET_USAA_UAT=""

SEQSTER_URL_USAA="https://eis-usaa.seqster.com/api/partner/register/basic"
SEQSTER_CLIENT_ID_USAA="994e7b71-1113-4e63-b665-ae584aa455b5"
SEQSTER_CLIENT_SECRET_USAA="iHjEc1HJU0HMjuS2q7MfWcAKLKBtOLYhlT3isuWz"

SEQSTER_URL_EIS="https://eis.seqster.com/api/partner/register/basic"
SEQSTER_CLIENT_ID_EIS="9c2ac9be-c37b-423f-96ee-fc7d447be0d0"
SEQSTER_CLIENT_SECRET_EIS=""
SEQSTER_PROJECT_EIS="EIS"
SEQSTER_SITE_EIS="EIS"

SEQSTER_URL_NWM="https://northwesternmutual.seqster.com/api/partner/register/basic"
SEQSTER_CLIENT_ID_NWM="9fbbf979-624c-4cad-b960-ad53430ba80d"
SEQSTER_CLIENT_SECRET_NWM=""
SEQSTER_PROJECT_NWM="Northwestern Mutual VA Record Retrieval"
SEQSTER_SITE_NWM="Default"

SEQSTER_URL_PRUDENTIAL="https://prudential.seqster.com/api/partner/register/basic"
SEQSTER_CLIENT_ID_PRUDENTIAL="9ffe6d59-9c74-468c-ac3c-3f21f4f41957"
SEQSTER_CLIENT_SECRET_PRUDENTIAL=""
SEQSTER_PROJECT_PRUDENTIAL="Prudential Insurance Company of America"
SEQSTER_SITE_PRUDENTIAL="Default"

AZURE_OPENAI_ENDPOINT=https://eis.openai.azure.com
AZURE_OPENAI_KEY=""
AZURE_OPENAI_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2024-12-01-preview

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_PATH=/auth/google/callback